.course-details .single-course-container {

    max-width: 400px;
}

.single-course-container :hover {
    /* border: 4px solid rgb(23, 123, 253); */
}

.course-details .page-title {
    background-color: rgb(234, 199, 243);

}

.premium-btn-body {
    display: flex;
    justify-content: center;

}

.premium-btn {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(113, 89, 248);
    border: 1px solid black;
    color: white;
}

.premium-btn:hover {
    background-color: rgb(26, 245, 227);
    color: black;
}

.print-box {
    text-align: center;

}

.print-area {
    padding: 40px 20px;
}